@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(242, 242, 242);
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.circleclip {
  box-shadow: 0 0 0 99999px rgb(38, 90, 201);
}